<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | COMP 2537</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <h1>COMP 2537 Assignment 1</h1>
    
    <!-- If not logged in -->
    <div id="guest">
        <a href="/signup">Sign Up</a> | 
        <a href="/login">Login</a>
    </div>

    <!-- If logged in -->
    <div id="user" style="display:none;">
        <p>Hello, <span id="username">[Username]</span></p>
        <a href="/members">Members Only Area</a> | 
        <a href="/logout">Logout</a>
    </div>

    
</body>
</html>
